<% include ./partials/header.ejs %>
  <div class="w-full min-h-screen bg-black text-white py-5 md:pl-16 sm:flex sm:flex-col sm:items-center">
    <div class="w-full px-4 flex items-center justify-between lg:pl-8">
      <img class="w-24 sm:w-32" src="/images/logo2.png" alt="">
      <div class="icons -mt-2 flex gap-5 items-center">
        <i class="text-[1.6rem] ri-heart-3-line"></i>
        <i class="mb-[0.4rem] text-[1.4rem] fa-regular fa-paper-plane fa-rotate-by" style="--fa-rotate-angle: 20deg;""></i>
      </div>
    </div>
    <div class=" story px-3 flex gap-3 overflow-auto mt-5 sm:pl-28 md:justify-center md:pl-12">
          <div class="circle flex-shrink-0">
            <div class="gradient w-[4rem] h-[4rem] bg-black rounded-full flex items-center justify-center relative sm:w-20 sm:h-20">
              <div class="inner w-[3.8rem] h-[3.8rem] rounded-full overflow-hidden sm:w-[4.8rem] sm:h-[4.8rem]">
                <% if(user.profileImage && user.profileImage.contentType && user.profileImage.data){%>
                  <img class="w-full h-full object-cover"
                    src="data:<%= user.profileImage.contentType%>;base64,<%= user.profileImage.data.toString('base64')%>"
                    alt="">
                  <%} %>
              </div>
              <div class="absolute text-white bottom-[5px] right-[-3px] text-[1.1rem] cursor-pointer md:text-xl"><i
                  class="fa-solid fa-circle-plus text-blue-500 bg-white rounded-full border-2 border-black"></i></div>
            </div>
          </div>
          <div class="circle flex-shrink-0">
            <div
              class="gradient w-[4rem] h-[4rem] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center sm:w-20 sm:h-20">
              <div class="inner w-[3.7rem] h-[3.7rem] rounded-full overflow-hidden sm:w-[4.7rem] sm:h-[4.7rem]">
                <img class="w-full h-full object-cover"
                  src="/images/photo1.avif"
                  alt="">
              </div>
            </div>
          </div>
          <div class="circle flex-shrink-0">
            <div
              class="gradient w-[4rem] h-[4rem] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center  sm:w-20 sm:h-20">
              <div class="inner w-[3.7rem] h-[3.7rem] rounded-full overflow-hidden sm:w-[4.7rem] sm:h-[4.7rem]">
                <img class="w-full h-full object-cover"
                  src="/images/photo2.avif"
                  alt="">
              </div>
            </div>
          </div>
          <div class="circle flex-shrink-0">
            <div
              class="gradient w-[4rem] h-[4rem] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center sm:w-20 sm:h-20">
              <div class="inner w-[3.7rem] h-[3.7rem] rounded-full overflow-hidden sm:w-[4.7rem] sm:h-[4.7rem]">
                <img class="w-full h-full object-cover"
                  src="/images/photo1.avif"
                  alt="">
              </div>
            </div>
          </div>
          <div class="circle flex-shrink-0">
            <div
              class="gradient w-[4rem] h-[4rem] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center sm:w-20 sm:h-20">
              <div class="inner w-[3.7rem] h-[3.7rem] rounded-full overflow-hidden sm:w-[4.7rem] sm:h-[4.7rem]">
                <img class="w-full h-full object-cover"
                  src="/images/photo2.avif"
                  alt="">
              </div>
            </div>
          </div>
          <div class="circle flex-shrink-0">
            <div
              class="gradient w-[4rem] h-[4rem] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center sm:w-20 sm:h-20">
              <div class="inner w-[3.7rem] h-[3.7rem] rounded-full overflow-hidden sm:w-[4.7rem] sm:h-[4.7rem]">
                <img class="w-full h-full object-cover"
                  src="/images/photo1.avif"
                  alt="">
              </div>
            </div>
          </div>
          <div class="circle flex-shrink-0">
            <div
              class="gradient w-[4rem] h-[4rem] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center sm:w-20 sm:h-20">
              <div class="inner w-[3.7rem] h-[3.7rem] rounded-full overflow-hidden sm:w-[4.7rem] sm:h-[4.7rem]">
                <img class="w-full h-full object-cover"
                  src="/images/photo2.avif"
                  alt="">
              </div>
            </div>
          </div>
          <div class="circle flex-shrink-0">
            <div
              class="gradient w-[4rem] h-[4rem] bg-sky-100 rounded-full bg-gradient-to-r from-purple-700 to-orange-500 flex items-center justify-center sm:w-20 sm:h-20">
              <div class="inner w-[3.7rem] h-[3.7rem] rounded-full overflow-hidden sm:w-[4.7rem] sm:h-[4.7rem]">
                <img class="w-full h-full object-cover"
                  src="/images/photo1.avif"
                  alt="">
              </div>
            </div>
          </div>
      </div>
      <div class="posts mb-12 sm:flex sm:flex-col sm:items-center">
        <% posts.reverse().forEach(function(ele) { %>
          <div class="post mt-10 w-full min-h-[50vh] sm:px-8 sm:w-[35rem] md:px-[9rem] md:w-[45rem]">
            <div class="title pl-4 pr-6 flex items-center justify-between sm:pl-2">
              <div class="flex items-center gap-2">
                <div class="w-8 h-8 bg-sky-100 rounded-full overflow-hidden sm:w-12 sm:h-12">
                  <a href="/profile/<%= ele.user._id%>">
                    <img
                      src="data:<%= ele.user.profileImage.contentType%>;base64,<%= ele.user.profileImage.data.toString('base64')%>"
                      alt="" class="w-full h-full object-cover">
                  </a>
                </div>
                <h4 class="text-sm sm:text-base">
                  <%= ele.user.username %>
                </h4>
                <h6 class="text-xs opacity-30 sm:text-sm">1d</h6>
              </div>

              <div class="cursor-pointer sm:text-xl">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </div>
            </div>
            <div class="w-full h-96 mt-4 bg-sky-100 overflow-hidden sm:h-[30rem] md:h-[35rem]">
              <img src="data:<%= ele.picture.contentType%>;base64,<%= ele.picture.data.toString('base64')%>" alt=""
                class="w-full h-full object-cover">
            </div>
            <div class="options w-full px-4 flex justify-between items-center text-[1.4rem]">
              <div class="flex gap-3 mt-2">
                <a href="/like/post/<%= ele._id%>">
                  <% if(ele.likes.indexOf(user._id) !==-1) {%>
                    <i class="ri-heart-3-fill text-red-600 sm:text-[1.6rem]"></i>
                    <% }else{%>
                      <i class="ri-heart-3-line sm:text-[1.6rem]"></i>
                      <%}%>
                </a>
                <i class="ri-chat-3-line sm:text-[1.6rem]"></i>
                <!-- <i class="ri-share-circle-line"></i> -->
                <i class="mt-[0.35rem] text-[1.2rem] fa-regular fa-paper-plane fa-rotate-by sm:text-[1.5rem]"
                  style="--fa-rotate-angle: 20deg;""></i>
            </div>
            <i class=" ri-bookmark-line sm:text-[1.6rem]"></i>
              </div>
              <h3 class="px-4 mt-2 text-sm leading-none tracking-tight sm:text-base">
                <%= ele.likes.length%> likes
              </h3>
              <h2 class="text-white font-light text-sm mt-2"><span class="font-semibold pl-4 pr-2 sm:text-base">
                  <%= ele.user.username%>
                </span>
                <%= ele.caption%>
              </h2>
            </div>
            <% }) %>

          </div>
      </div>
      <% include ./partials/footer.ejs %>